:root {
    background-color:#083836;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* background: linear-gradient( rgb(32, 58, 67), rgb(44, 83, 100));
    background: -webkit-linear-gradient(rgb(32, 58, 67), rgb(44, 83, 100));
    background: -moz-linear-gradient(rgb(rgb(32, 58, 67), rgb(44, 83, 100))); */
    color: #e2ded3;
    background-color: rgb(93, 93, 90, 0.5);
    padding: 0.5rem;
    border: 5px dotted #f9ff21;
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    font-size: 2rem;
    }



.main {
    text-align: center;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    flex: 1;
}

.start-page p {
    padding-top: 1rem;
    color: #fff5f5;
    font-size: 1.2rem;
}

.wrapper {
    color: #fff5f5;
    margin: 0 auto;
    padding-top: 0.5rem;
    font-size: 1.2rem;

}
.decks-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  
.deck {
    box-shadow: 6px 6px 10px #5ae7fa;
    padding: 2rem;
    border-radius: 10px;
    cursor: pointer;
  }

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none; /*initially @ start page*/
  }
  
.game-page {
    width: 450px;
    background-color: rgb(93, 93, 90, 0.5);
    border-radius: 10px;
    border: 1px solid #21e6c1;
    color: #fff5f5;
    font-size: 1.2rem;
  }

  .game-page  .timer {
    text-align: right;
    margin-right: 10px;
  }

.game-page h2 {
    text-decoration: underline #482ff7;
    text-decoration-thickness: 10px ;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
    border-bottom: 2px solid rgb(33, 230, 193, 0.3);
    padding-bottom: 1rem;
}

.game-page .word {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    text-transform: lowercase;
    letter-spacing: 20px;
    margin-right: -20px;
}

.content input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #abf5d7ce;
}

.hint {
    margin-bottom: 0.5rem;
}

.show-hint-btn {
    font-size: 1.2rem ;
    padding: 5px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff6d24; 
    background-color: #ececec00;
    border: 1px solid #f0ff24;
    border-radius: 10px;
    cursor: pointer;
}


.hint-text {
    font-size: 1.1rem;
    display: none;  /*on click to be displayed*/
}

.buttons .submit-word, .buttons .swap-word {
    font-size: 1.5rem ;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #f58916;
    background-color: #ececec00;
    border: 1px solid #f58916;
    border-radius: 10px;
    cursor: pointer;
}

.results {
    visibility: hidden;
    width:auto;
    font-weight: 600;
}

.results .return-start-btn {
    font-size: 1.2rem;
    font-family: "Handlee", cursive;
    font-weight: 600;
    font-style: normal;
    color: whitesmoke; 
    background-color: #4d398896;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
} 

footer {
    color: #e2ded3;
    background-color: rgb(93, 93, 90, 0.5);
    padding: 0.5rem;
    border: 3px dotted #f9ff21;
    margin-top: 2rem;
    /* margin-bottom: 0px;
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 7rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0;

}

footer .quote {
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: underline #482ff7;
    text-decoration-thickness: 10px ;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
}