:root {
    /* background-color:#083836; */
    background: linear-gradient(to top, #031312, #083c47, #2320aa);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px; 
}

header {
    color: #e2ded3;
       /* Rainbow text effect */
       /* background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #ff00ff, #ff007f, #ff0026);
       background-clip: text;
       -webkit-background-clip: text;
       color: transparent; */
    text-shadow: 5px 5px 10px #ff006a9d;;
    background-color: rgb(93, 93, 90, 0.5);
    padding: 0.5rem;
    border: 5px dotted #f9ff21;
    /* border-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #ff00ff, #ff007f, #ff0026);
    border-image-slice: 1; */
    font-family: "Tilt Prism", sans-serif;
    font-size: 2rem;
    }

.main {
    text-align: center;
    font-family: "Handlee", cursive;
    font-weight: 550;
    font-style: oblique;
    flex: 1; /* Make the main grow to fill the remaining vertical space */
    display: flex;
    flex-direction: column;
}

.start-page p {
    padding-top: 1rem;
    color: #fff5f5;
    font-size: 1.2rem;
}

.wrapper {
    color: #fff5f5;
    margin: 0 auto;
    padding: 0rem 1rem 2rem;
    font-size: 1.2rem;
    /* border: 1px solid #482ff7; */
    max-width: fit-content;
}
.decks-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* updated shorthand for grid-template-columns */
    gap: 2rem;
    justify-items: center;
  }

.deck {
    text-align: center;
    box-shadow: 6px 6px 10px #5ae7fa;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* for smooth effect */
    /* transition: text-underline 1s ease; */
    transition: text-shadow 0.3s ease;
}

/* Hover effect */
.deck:hover {
  box-shadow: 8px 8px 12px #482ff7;
  /* text-decoration: underline #5ae7fa 2px; */
  text-shadow: 2px 2px 4px #ff006c;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    display: none; /*initially @ start page*/
  }
  
.game-page {
    width: 450px;
    background-color: rgb(93, 93, 90, 0.5);
    border-radius: 10px;
    border: 1px solid #21e6c1;
    color: #fff5f5;
    font-size: 1.2rem;
  }

.game-page  .number {
    text-align: right;
    margin-right: 10px;
  }

.game-page h2 {
    text-decoration: underline #482ff7;
    text-decoration-thickness: 10px ;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
    border-bottom: 2px solid rgb(33, 230, 193, 0.3);
    padding-bottom: 1rem;
}

.game-page .word {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    text-transform: lowercase;
    letter-spacing: 20px;
    margin-right: -20px;
}

.content input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #abf5d7ce;
}

@keyframes shake {
    0%, 100% { transform: translate(0); }
    25% { transform: translate(0.125rem); }
    75% { transform: translate(-0.125rem); }
  }
  
.shake-animation {
    animation: shake 300ms;
}

.hint {
    margin-bottom: 0.5rem;
}

.show-hint-btn {
    font-size: 1.2rem ;
    padding: 5px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff6d24; 
    background-color: #ececec00;
    border: 1px solid #f0ff24;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* for smooth effect */
}

.show-hint-btn:hover {
    background-color: #3a3e3d;
    color: #ececec;
    border: 2px solid #f0ff24;
  }

.hint-text {
    font-size: 1.1rem;
    display: none;  /*on click to be displayed*/
}

.buttons .submit-word {
    font-size: 1.5rem ;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #f58916;
    background-color: #ececec00;
    border: 1px solid #f58916;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* for smooth effect */
}

.buttons .submit-word:hover {
  background-color: #ff6d24;
  color: #ececec;
  font-weight: 550;
}

.results {
    visibility: hidden; /*initially*/
    width:auto;
    font-weight: 600;
}

.results .return-start-btn {
    font-size: 1.2rem;
    font-family: "Handlee", cursive;
    font-weight: 600;
    font-style: normal;
    color: whitesmoke; 
    background-color: #4d398896;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
} 

footer {
    color: #e2ded3;
    background-color: rgb(93, 93, 90, 0.5);
    padding: 0.5rem;
    border: 3px dotted #f9ff21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 2rem;
    /* 
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 7rem; */
}

footer .quote {
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: underline #482ff7;
    text-decoration-thickness: 10px ;
    text-decoration-skip-ink: none;
    text-underline-offset: -5px;
}